.bg-home-container {
    background-image: url(https://ik.imagekit.io/lvjawdtvd/hari.html/sea-ocean?updatedAt=1752299558474);
    width: 300px;
    height: 600px;
    background-size: cover;
}


.bg-fav-container {
    background-image: url(https://ik.imagekit.io/lvjawdtvd/Tourism%20project/taj-mahal?updatedAt=1752382438419);
    width: 300px;
    height: 500px;
    background-size: cover;
}